[Desktop Entry]
Version=1.0
Type=Application
Name=Submit device information to Digabi
Name[fi]=Lähetä laitetietoja Digabille
Name[sv]=Skicka information om enheten till Digabi
Comment=Submits device data to Digabi
Exec=/usr/bin/digabi submit-feedback
Icon=xfce4-menueditor
Path=
Terminal=false
StartupNotify=false
